---
layout: default
title: Index
---
<h1 class="page-title">
  Hi, I'm Dylan.
</h1>
<h2 class="page-subtitle">
  嗨，我是岩峻。
</h2>

Welcome to my webpage. I am a researcher studying the <b>cognitive science of language</b>.
Currently, I'm an MA student in the Linguistics programme at the <a href="https://www.eng.ntnu.edu.tw/index.php/en/main/">Department of English,</a> National Taiwan Normal University. 
There, I work in the <a href="https://sites.google.com/view/neurolinguisticslabntnu/home">Neurolinguistics Lab</a> 
directed by Prof. Shiaohui Chan. 
<br> <br>
Here's one of my favourite science quotes which I think is really important.
It was written by the linguist Louis Hjelmslev in his famous <i>Prolegomena to a Theory of Language</i> 
but it expresses a general message which applies to any scientific theory, not just theories in linguistics. 
Personally, I think the idea that the things we isolate as "objects" are really comprised of relationships between relationships was 
best developed by Alfred North Whitehead in his <i>Process Philosophy</i> school of thought, 
but Hjelmslev did a better job articulating the idea in one sentence.
<br>
<p class="message">"The postulation of objects as something different 
from the terms of relationships is a superfluous axiom and consequently 
a metaphysical hypothesis from which linguistic science will have to be freed." 
<br><i>— Louis Hjelmslev</i></p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<div class="posts">
  {% for post in paginator.posts %}
    {% if post.pinned %}
      <div class="lead alert">
        <i class="fas fa-thumbtack"></i> &nbsp; Pinned Post 
      </div>
      <div class="post">
        <h1 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
        <div class="hr"></div>
        <span class="post-date">{{ post.date | date_to_long_string }}</span>
          {{ post.content }}
      </div>
      <hr>
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% unless post.pinned %}
      {% if post == site.posts.first %}
        <div class="lead alert">
          <i class="fas fa-exclamation-circle"></i> &nbsp; Newest Post
        </div>
      {% endif %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
        <div class="hr"></div>
        <span class="post-date">{{ post.date | date_to_long_string }}</span>
          {{ post.content }}
      </div>
      {% if post != paginator.posts.last %}
        <hr>
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>
  
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}"><i class="fas fa-arrow-left"></i> &nbsp; Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer &nbsp; <i class="fas fa-arrow-right"></i></a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer &nbsp; <i class="fas fa-arrow-right"></i></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<div class="only-mobile alert">
  <a href="#" class="underline">Back to Top &nbsp; <i class="fa fa-arrow-circle-up"></i></a>
</div>